.modal {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.modal-overlay {
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #000;
  font-size: 3rem;
  height: 40vh;
  left: 10%;
  position: fixed;
  top: 20vh;
  width: 80%;
  z-index: 3;
}

.modal-count {
  padding-top: 100px;
}
